@inherits CnpComponent
@typeparam TEntity
@typeparam TId

<div id="@_id" style="width: 100%">
    <CnpStack Orientation="CnpOrientation.Horizontal" VerticalAlignment="CnpVerticalAlignment.Center">
        @if (@Icon is not null)
        {
            @if (ShouldShowNavigation)
            {
                <FluentButton Appearance="Appearance.Stealth" Style="height: auto;" OnClick="Navigate">
                    <FluentIcon Value="Icon"/>
                </FluentButton>
            }
            else
            {
                <FluentIcon Style="margin-left: 8px; margin-right: 8px;" Value="Icon"/>
            }
        }

        @ChildContent(Entity)
    </CnpStack>
</div>

@if (ShouldShowNavigation)
{
    <CnpSectionContent CategoryId="CnpSections.CnpEntityViewHelper">
        <FluentMenu Anchor="@_id.ToString()" Trigger="MouseButton.Right" Anchored="false" >
            <FluentMenuItem Label="View details" OnClick="Navigate" />
            <FluentMenuItem Label="View details in new window" OnClick="Navigate" />
        </FluentMenu>
    </CnpSectionContent>
}
