::deep .cnp-tabs {
    height: 100%;
}

::deep .cnp-tab-panel {
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-rest);
    border-radius: calc(var(--control-corner-radius) * 1px);
    padding: 1rem 1rem;
    height: 100%;
}